.job-openings-con{
    max-width: 92vw;
    margin: auto auto 20px auto;
    padding: 1%;
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 5px rgb(250, 224, 224);
}
.job-openings-con-title{
    font-size: 24px;
    margin: 15px auto;
    text-decoration: underline;
    text-decoration-style:double ;
    text-decoration-thickness: 2px;
}
tr{
    text-align: center;
}
.job-name-column{
    font-weight: 500;
}
th{
    font-size: larger;
}
@media screen and (max-width:670px) {
    .job-openings-con{
        border-radius: 10px;
    }
    .job-openings-con-title{
        font-weight: bolder;
        font-size: large;
        margin: 10px auto;
        text-decoration-style:solid ;
        text-decoration-thickness: 1px;
    }
    th{
        font-size: 14px;
    }
    td{
        font-size:13px;
        overflow: hidden;
    }
    .job-name-column{
        max-width: 100px;
    }
    .last-date-column,.no-ofvacancy-column,.last-date-heading-col{
        max-width: 70px;
        overflow-y:scroll;
    }

}